.banner{
    background-image:url('../Resource/Untitled-1 1.png');
    background-size: cover;
    background-position: center;
    height: 60em;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    padding: 0 20px;
    color: white;
    
}

.flex{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding:10px;
    gap:10px
    
}
.banner-divider{
    display: flex;
   
}
.half-width{
    width:50%;
    padding-left:5%;
    
}

.logo{
    height: 20%;
    font-size: 20px;
    display: flex;
    

}
.yellow{
    color:#F0E615;
}
.logo span{
    color:yellow;
    font-size: 20px;
}
.logoText{
    margin: 0;
    left:0;
}
.shape{
    position:relative;
    text-align:center;    
}
.centered{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.heading-blue{
    color:#003B60;

}
.small{
    font-size: 15px;
    color:#608AAB;

}
.big-circle{
    position:absolute;
    top:200px;
    left:40px;
}
.top-circle{
    position:absolute;
    top:0;
    right:100px;
}

.denim{
    background-image:url('../Resource/denim_text_effect 1.png');
    background-size: cover;
    background-position: center;
    height: 40em;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    padding: 0 20px;
    color: white;
    margin-top:-200px;

}